*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    padding: 1%;
    font-family:system-ui, sans-serif;
    background-image: url("background2.jpg");
    background-size: cover;
    color: yellow;
}

#fondo{
    width: 100%;
    height: 100%;
    background-color: rgb(47, 79, 79, 0.5);
}

h1{
    text-align: center;
    font-size: 60px;
    margin-bottom: 1vw;
    z-index: 1;
}

.container{
    display: flex;
    max-width: 7200px;
    gap: 2rem;
    z-index: 1;
}

.card{
    flex: 1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    background-color: black;
    color: white;
}

#clientList>ul{
    margin: 1.5rem;
    list-style-type: none;
    background-color: #f6efe8;
    color: #2f2f1f;
    font-size: medium;
}

#subscriptions #clientList>ul>li{
    display:flex;
    word-wrap: break-word;
    overflow-wrap: break-word;
    flex-wrap: wrap;
    width: 100%;
    font-family: sans-serif;
    border: 1px solid #3a3a3a;
}
