*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:system-ui, sans-serif;
    background-color: rgb(20, 20, 20);
    background-image: url("fondos/background2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fondo{
    position: fixed;
    inset: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(47, 79, 79, 0.7);
    z-index: 0;
}

h1{
    position: relative;
    text-align: center;
    font-size: clamp(2rem, 4.5vw, 5rem);
    font-family: Garp-Sans;
    letter-spacing: 3px;
    padding-top: 3vh;
    margin-bottom: 1vh;
    z-index: 1;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    color: rgba(235, 235, 0);
}

h1>span{
    color: #f6efe8;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1900px;
    gap: 2rem;
    padding: 1vw;
    z-index: 1;
}

.card{
    flex: 1;
    width: clamp(450px, 60%, 1200px);
    align-self: center;
    padding: min(2.5rem, 5%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    color: #f6efe8;
}

#subscriptionForm{
    background-color: rgb(25, 25, 25);
    font-size: clamp(12px, 1.5vw, 17px);
}

#subscriptionForm h2{
    margin-bottom: 1rem;
    font-size: clamp(20px, 4vw, 25px);
    color: rgb(200, 200, 200);
}

#subscriptions{
    background-color: rgb(30, 51, 51);
}

.card fieldset{
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-width: medium;
    border: none;
    overflow-x: hidden;
    min-width: 200px;
    position: relative;
}

.card legend::before{
    content: "";
    top: 0.8rem;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #ffb84d;
    box-shadow: 0 -1px 7px #ffb84d;
}

#subscriptionForm fieldset>legend{
    margin-bottom: 0.5rem;
    font-size: clamp(16px, 2vw, 20px);
    background-color: rgb(25, 25, 25);
    color: rgb(150, 150, 150);
}

#clientForm .fieldsetRow{
    display: flex;
}

#clientForm .period{
    flex: 1;
}

#personalData, #subscriptionDetails{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#clientForm .field{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#clientForm input, #clientForm select{
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: rgb(150, 150, 150);
    color: #f6efe8;
    padding: 0.2%;
    transition: transform 0.4s ease;
}

#clientForm input::placeholder{
    color: #f6efe8ac;
}

#clientForm .period input{
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
    color: #f6efe8; /*lightgoldenrodyellow*/
    font-size: larger;
}

#clientForm input:hover:not(:read-only), #clientForm input:focus:not(:read-only){
    transform: scale(1.04);
    border-bottom-color: rgb(200, 200, 200);
}

#clientForm select:hover, #clientForm select:focus{
    transform: scale(1.04);
    border-bottom-color: rgb(200, 200, 200);
}

#clientForm .check input{
    margin-right: 1.5%;  
    transition: border-shadow 0.4s ease;
}

#submit{
    margin-top: 1%;
    padding: clamp(5px, 1.2%, 8px);
    background-color: darkslategray; /*#2f2f1f*/
    border-color: transparent;
    color: #f5f4ec; /*#fafbf3*/
    font-family:Lucida Sans;
    font-size: clamp(16px, 2vw, 20px);
    border-radius: 10px;
    box-shadow: 0 0 7px rgb(0, 0, 0, 0.25);
    transition: background-color 0.4s ease, color 0.4s ease, box-shadow 0.4s ease, transform 0.4s ease;
}

#submit:hover, #submit:focus{
    background-color: #ffd36a;
    color: #3a361f;
    box-shadow: 0 0 10px #ffd36a;
}

#subscriptions #clientList>ul{
    margin: 1.5%;
    padding: 0.7%;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.25);
    color: azure;
    font-size: medium;
}

#subscriptions h2{
    color: lightgray;
}

#subscriptions #clientList>ul>li{
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    overflow-wrap: break-word;
    flex-wrap: wrap;
    width: 100%;
    font-family: sans-serif;
    border: 1px solid #3a3a3a;
}

#subscriptions #clientList>ul>li>span{
    flex: 7;
    padding: 0.7rem;
    width: 100%;
}

#subscriptions #clientList>ul>li>button{
    flex: 1;
    background-color: darkslategray;
    color: aliceblue;
    transition: background-color 0.25s ease, color 0.25s ease;
}

#subscriptions #clientList>ul>li>button:hover, #subscriptions #clientList>ul>li>button:focus{
    background-color: #c74141;
    color: aliceblue;
}

.cName{
    font-weight: bold;
}


#clientName{
    width: 60%;
}

#email{
    width: 40%;
}

#ladaCountry{
    width: 30%;
}

#phone{
    width: 35%;
}

#age{
    width: 3rem;
    text-align: center;
}


@media (max-width: 500px){
    .card{
        width: clamp(240px, 90%, 350px);
    }

    .fieldsetRow, #clientForm .field{
        flex-direction: column;
        gap: 0rem;
    }

    #subscriptions #clientList>ul>li{
        width: 100%;
        flex-direction: column;
    }

    #subscriptions #clientList>ul>li>span{
        font-size: 0.85rem;
        width:100%;
    }

    #clientName{
        width: 100%;
    }

    #email{
        width: 100%;
    }

    #ladaCountry{
        width: 35%;
    }

    #birthday{
        width: 60%;
    }
    
    #phone{
        width: 65%;
    }

    #plan{
        width: 60%;
    }

    body{
        background-image: url("fondos/min-background2.jpg");
        background-size: cover;
    }
    
}

@font-face {
    font-family: Monster-Beast;
    src: url(fuentes/MonsterBeast.otf);
}

@font-face {
    font-family: Sportize;
    src: url(fuentes/Sportize.ttf);
}

@font-face {
    font-family: Sportize-Light;
    src: url(fuentes/Sportize-Light.ttf);
}

@font-face {
    font-family: Sportize-Bold;
    src: url(fuentes/Sportize-SemiBold.ttf);
}

@font-face {
    font-family: Jumpshot;
    src: url(fuentes/JUMPSHOT.ttf);
}

@font-face {
    font-family: Garp-Sans;
    src: url(fuentes/GarpSans-Normal.otf);
}