*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    padding: 1%;
    font-family:system-ui, sans-serif;
    background-color: #5a3e2b; /*#6b6a2e*/
    color: #f6efe8; /*#f5f4ec*/
}

h1{
    text-align: center;
    font-size:60px;
    margin-bottom: 1vw;
    text-shadow: 0 0 15px #ffb84d; /*#ffd36a*/
}

.container{
    display: flex;
    max-width: 7200px;
    gap: 2rem;
}

.card{
    flex: 1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    background-color: #6b4a33; /*#7d7c35 rgb(52, 52, 0)*/
    border-radius: 12px;
}

.card h2{
    padding-left: 1%;
    padding-bottom: 0.75%;
    padding-top: 0.75%;
    background-color: #ffb84d; /*#2f2f1f*/
    color: #2f2f1f; /*rgb(52, 52, 0) #f5f4ec*/
    box-shadow: 0 0 10px #ffb84d;
    font-size: x-large;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#clientForm{
    margin: 1.5rem;
}

#clientForm fieldset{
    border-color: transparent;
    margin-bottom: 2%;
}

#clientForm legend{
    margin-bottom: 0.5%;
    font-family: monospace;
    font-size: x-large;
    color: #d6c1a5;
}

#clientForm .fieldsetRow{
    display: flex;
}

#clientForm .period{
    flex: 1;
}

#personalData, #subscriptionDetails{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#clientForm input{
    background-color: #f6efe8;
    border-color: transparent;
    border-radius: 5px;
    color: rgb(52, 52, 0);
    transition: transform 0.4s ease, border-radius 0.4s ease, box-shadow 0.4s ease;
}

#clientForm .period input{
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
    color: #f6efe8; /*lightgoldenrodyellow*/
    font-size: larger;
}

#clientForm input:hover:not(:read-only){
    transform: scale(1.02);
    border-radius: 10px;
    box-shadow: 0 0 10px #ffb84d;
}

#clientForm input:focus:not(:read-only){
    transform: scale(1.02);
    border-radius: 10px;
    box-shadow: 0 0 10px #ffb84d;
}

#clientForm select{
    background-color: #f6efe8;
    border-color: transparent;
    color: rgb(52, 52, 0);
    transition: transform 0.4s ease, border-radius 0.4s ease, box-shadow 0.4s ease;
}

#clientForm select:hover{
    transform: scale(1.02);
    border-radius: 10px;
    box-shadow: 0 0 10px #ffb84d;
}

#clientForm select:focus{
    transform: scale(1.02);
    border-radius: 10px;
    box-shadow: 0 0 10px #ffb84d;
}

#personalData label, #subscriptionDetails label{
    margin-right: 1.7%;
}

#clientForm .check input{
    margin-right: 1.5%;  
    transition: border-shadow 0.4s ease;
}

#clientForm .check input:hover{
    box-shadow: 0 0 10px #ffb84d;
}

#clientForm .check input:focus{
    box-shadow: 0 0 10px #ffb84d;
}

#submit{
    margin-top: 0.5%;
    padding: 1.2%;
    background-color: #3a361f; /*#2f2f1f*/
    border-color: transparent;
    color: #f5f4ec; /*#fafbf3*/
    font-family:Lucida Sans;
    font-size: larger;
    border-radius: 10px;
    box-shadow: 0 0 7px rgb(0, 0, 0, 0.25);
    transition: background-color 0.4s ease, color 0.4s ease, box-shadow 0.4s ease, transform 0.4s ease;
}

#submit:hover{
    background-color: #ffd36a;
    color: #3a361f;
    box-shadow: 0 0 10px #ffd36a;
}

#submit:focus{
    background-color: #ffd36a;
    color: #3a361f;
    box-shadow: 0 0 10px #ffd36a;
}

#members{
    margin: 1.5rem;
    list-style-type: none;
    background-color: #f6efe8;
    color: #2f2f1f;
    font-size: medium;
}

#subscriptions #members>li{
    display:flex;
    word-wrap: break-word;
    overflow-wrap: break-word;
    flex-wrap: wrap;
    width: 100%;
    font-family: sans-serif;
    border: 1px solid #3a3a3a;/*#2f2f1f*/
}

#subscriptions li>span{
    flex: 7;
    padding-left: 1%;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    padding-right: 1%;
}

#subscriptions li>button{
    flex: 1;
    border-color: transparent;
    background-color: #3a3a3a;
    color: #f6efe8;
    transition: background-color 0.25s ease, color 0.25s ease;
}

#subscriptions li>button:hover{
    background-color: #ff6b6b;
    color: aliceblue;
}

#subscriptions li>button:focus{
    background-color: #ff6b6b;
    color: aliceblue;
}

#clientName{
    width: 70%;
}

#email{
    width: 50%;
}

#ladaCountry{
    width: 20%;
}

#lada{
    width: 7%;
    text-align: right;
}

#phone{
    width: 30%;
    margin-left: 1%;
}

#age{
    width: 7%;
    text-align: center;
}

@media (max-width: 600px){
    .container, .fieldsetRow{
        flex-direction: column;
    }
    h1{
        font-size: xx-large;
    }
    #subscriptions #members>li{
        width:100%;
        flex-direction: column;
    }
    #subscriptions li>span{
        font-size: 0.9rem;
        width:100%;
    }
    #clientName{
        width: 90%;
    }
    #email{
        width: 90%;
    }
    #ladaCountry{
        width: 50%;
    }
    #lada{
        width: 30%;
    }
    #phone{
        width: 70%;
    }
    #age{
        width: 30%;
    }
}